@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-reveal {
  0% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}
@keyframes text-reveal-green {
  0% {
    color: transparent;
  }
  100% {
    color: #a1cc3b;
  }
}
@keyframes text-reveal-blue {
  0% {
    color: transparent;
  }
  100% {
    color: #8ac8ff;
  }
}
@keyframes border-reveal-blue {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #8ac8ff;
  }
}
@keyframes grow {
  0% {
    transform: scale(0.9, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes draw-horizontal {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes draw-vertical {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a,
svg,
img,
.icon-bar,
.btn {
  transition: color 0.3s, transform 0.6s, fill 0.3s, border 0.3s,
    background 0.3s, stroke 0.3s;
}
.icon {
  transition: transform 0.4s;
}
nav h1 {
  transition: transform 2s;
}
.jumbotron {
  transition: opacity 0.5s;
}
#masthead,
.interior-container,
.theme-light {
  transition: opacity 1s ease 0.2s;
}

/* Preliminary states */

.preload .jumbotron,
.preload .jumbotron p a,
.preload .jumbotron a.btn,
.preload .jumbotron .intro-1,
.preload .jumbotron .intro-2,
.preload .jumbotron .intro-3 {
  color: transparent;
  border-color: transparent;
  animation: none;
}
.preload .jumbotron p a,
.preload .jumbotron .intro-1,
.preload .jumbotron .intro-2,
.preload .jumbotron .intro-3 {
  transform: scale(0.9, 0.95);
}
.preload .jumbotron,
.preload .interior-container,
.preload .light-theme,
.preload #masthead {
  opacity: 0;
  animation: none;
}
.preload .jumbotron a.btn:before,
.preload .jumbotron a.btn:after {
  transform: scale(0, 1);
  animation: none;
}
.preload .jumbotron .box:before,
.preload .jumbotron .box:after {
  transform: scale(1, 0);
  animation: none;
}
@media (min-width: 768px) {
  .animation #masthead,
  .animation .interior-container,
  .animation .light-theme {
    transition: none;
    /* Hack to make Safari behave itself */
  }
  /* Loading Animations */
  .animation .jumbotron a.btn:before,
  .animation .jumbotron a.btn:after {
    animation: draw-horizontal 2s ease-in 1s backwards;
  }
  .animation .jumbotron .box:before,
  .animation .jumbotron .box:after {
    animation: draw-vertical 1s ease-in 2.5s backwards;
  }
  .animation #masthead {
    animation: reveal 1s ease-in 4.5s backwards;
  }
  .animation .interior-container,
  .animation .light-theme {
    animation: reveal 1s ease-in 5s backwards;
  }
  .animation .jumbotron a.btn {
    animation: text-reveal-blue 1s ease-in 3.5s backwards,
      border-reveal-blue 1s ease-in 4s backwards;
  }
  .animation .jumbotron {
    animation: text-reveal 2s ease-in 3.1s backwards;
  }
  .animation .jumbotron p a {
    display: inline-block;
    animation: text-reveal-green 0.5s ease-in 1s backwards,
      grow 1s ease-out 1s backwards;
  }
  .animation .jumbotron .intro-1,
  .animation .jumbotron .intro-2,
  .animation .jumbotron .intro-3 {
    color: #fff;
    display: inline-block;
  }
  .animation .jumbotron .intro-1 {
    animation: text-reveal 0.5s ease-in 1.8s backwards,
      grow 1s ease-out 1.8s backwards;
  }
  .animation .jumbotron .intro-2 {
    animation: text-reveal 0.5s ease-in 2.3s backwards,
      grow 1s ease-out 2.3s backwards;
  }
  .animation .jumbotron .intro-3 {
    animation: text-reveal 0.5s ease-in 2.7s backwards,
      grow 1s ease-out 2.7s backwards;
  }
}
