/* Medium-sized phones (and up) */
@media only screen and (min-width: 350px) {
  .jumbotron p {
    font-size: 24px;
    line-height: 1.6;
  }
}

/* Larger Phones */
@media only screen and (min-width: 480px) {
  .box .box-content {
    padding-left: 96px;
    position: relative;
    display: block;
  }

  .box .box-content .icon {
    height: 48px;
    width: 64px;
    margin: 0;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
  }

  .box .box-content .icon + h3 {
    display: block;
  }

  .box .box-content .icon-set {
    height: 64px;
    width: 64px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
  }

  .box .box-content .icon-set .icon {
    display: inline-block;
    height: 50%;
    width: 50%;
    position: static;
    transform: scale(1, 1);
  }
}

/* Tablets */
@media (min-width: 768px) {
  body {
    padding-top: 80px;
    padding-bottom: 0;
  }

  /* NavBar*/
  #masthead #logo a {
    height: 48px;
    width: 366px;
    max-width: none;
  }

  #menu h2 .icon {
    height: 48px;
    width: 57px;
  }

  #menu .site-menu .icon {
    margin: 0 16px 0 0;
    height: 40px;
    width: 40px;
  }

  #menu .site-menu li ul,
  #menu .site-menu li.compressed ul {
    margin-left: 56px;
  }

  #menu .site-menu .parent-menu > a:after {
    float: none;
    margin: 0 0 0 8px;
  }

  .jumbotron .next {
    max-width: 520px;
  }

  .gallery {
    margin: 0 -16px;
  }

  .gallery > div {
    width: 50%;
    padding: 0 16px;
    margin: 0 0 8px;
  }

  .gallery > div:first-child {
    width: 100%;
    margin: 0 0 48px;
  }

  .gallery > div:nth-child(2n) .preview-image {
    border-right: none;
  }

  .gallery > div:nth-child(2n + 3) .preview-image {
    border-left: none;
  }

  .exit-links {
    margin: 0 -16px;
    text-align: center;
  }

  .exit-links > div {
    display: inline-block;
    width: calc(50% - 32px);
    margin: 0 16px;
  }

  .exit-links > div.hero {
    width: 100%;
  }

  article {
    padding: 32px;
  }

  article section {
    margin: 32px -32px;
    padding: 32px;
  }

  article header {
    text-align: center;
  }

  article header p {
    max-width: 790px;
  }

  header .icon {
    width: 96px;
    height: 96px;
  }

  article p,
  article ul,
  article h3 {
    margin-left: auto;
    margin-right: auto;
  }

  article .subhead {
    line-height: 1.6;
    /*    text-align: center;*/
  }

  article section + .article-content {
    margin-top: 64px;
  }

  article h2 + .subhead {
    margin-top: 0;
  }

  .article-content img {
    width: 790px;
  }

  article table thead tr {
    display: table-row;
  }

  article table tbody th,
  article table td,
  article table td.placeholder {
    display: table-cell;
  }

  article table td:before {
    display: none;
  }

  table.ordered tr:before {
    display: table-cell;
  }

  table.ordered th:before {
    display: none;
  }

  article ul,
  article ol {
    padding: 0;
  }

  .introduction {
    float: left;
    width: 60%;
    padding-right: 32px;
  }

  .case-study {
    width: 40%;
    float: right;
  }

  .col-md-3 {
    width: 260px;
    float: right;
    padding: 32px 32px 0;
    position: relative;
    margin: 2px -16px 32px 0;
  }

  .col-md-3 p,
  .col-md-3 li {
    margin-bottom: 12px;
  }

  .btn,
  nav .btn {
    padding: 24px;
    font-size: 22px;
    text-shadow: none;
  }

  h2,
  nav h2 {
    font-size: 48px;
    line-height: 0.72;
    margin: 0 auto 32px;
    max-width: 900px;
    text-align: center;
  }

  .interior-container,
  .jumbotron {
    width: auto;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 32px 32px;
  }

  .interior-container {
    padding: 48px 32px;
  }

  #footer,
  .jumbotron {
    text-align: center;
  }

  .jumbotron p {
    font-size: 30px;
    line-height: 1.6;
  }

  .gallery > div.col-sm-6 {
    margin-bottom: 12px;
  }

  .preview-image {
    margin: 0 -16px 10px;
    padding: 16px;
    border-width: 1px;
  }

  div.col-sm-6:nth-last-of-type(2n) .preview-image {
    border-width: 1px 0 1px 1px;
    margin-right: -15px;
  }

  div.col-sm-6:nth-of-type(2n-1) .preview-image {
    border-width: 1px 1px 1px 0;
    margin-left: -15px;
  }

  .interior-container ul {
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
  }

  .interior-container li {
    margin-bottom: 32px;
  }

  .box .box-content {
    padding: 24px 24px 24px 160px;
  }

  .box .box-content .icon {
    height: 64px;
    width: 96px;
    left: 32px;
  }

  .box .box-content .icon-set {
    height: 96px;
    width: 96px;
    left: 32px;
  }

  #page-menu {
    width: 400px;
    top: 80px;
    transform: translate(calc(-100% + 58px), 0);
  }

  #page-menu.active {
    transform: translate(0, 0);
  }

  #page-menu.active + article {
    transform: translate(350px, 0);
  }

  #page-menu header {
    top: 14px;
    left: calc(100% - 12px);
    width: calc(100vh - 80px);
  }

  #page-menu h3 {
    font-size: 24px;
  }

  #page-menu h3 .icon {
    margin: -4px 4px 0 0;
  }

  #footer {
    padding: 0 32px 64px;
  }

  .gallery:before {
    bottom: 0;
  }

  .progress {
    display: table-row;
  }

  .progress > div {
    display: table-cell;
    vertical-align: middle;
  }

  .fellow {
    width: calc(100% / 3);
    padding: 33.3% 0 0;
  }

  .activity-list {
    margin-left: -8px;
    margin-right: -8px;
  }

  .activity-list li {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 16px);
    margin: 8px;
  }

  article table tbody th {
    min-width: 16%;
  }

  article table tbody th,
  article table td,
  article table td:first-child {
    border-radius: 2px;
  }

  article table tbody th,
  article table tbody tr:first-child th:first-child,
  article table tbody tr:first-child td:first-child {
    border-radius: 8px 2px 2px 8px;
  }

  article table td:last-child {
    border-radius: 2px 8px 8px 2px !important;
  }

  #student-outcomes-table tbody::after {
    content: "";
    display: block;
    height: 48px;
  }

  #student-outcomes-table a {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 8px;
  }

  #student-outcomes-table thead th.concept,
  #student-outcomes-table thead th.practice {
    opacity: 0;
  }

  #student-outcomes-table thead th {
    padding: 8px;
    height: 100px;
    border-radius: 8px 8px 2px 2px;
  }

  #student-outcomes-table tbody th.concept {
    min-width: 110px;
    background: #fff; /* Color: White */
    color: #ca4b0c; /* Color: Tenne */
    border-radius: 8px 2px 2px 8px;
  }

  #student-outcomes-table tbody th.concept .icon svg {
    fill: #f9af60; /* Color: Rajah */
  }

  #student-outcomes-table tbody td.practice {
    min-width: 110px;
  }

  #student-outcomes-table tbody tr {
    display: table-row;
    margin: 0;
  }

  #student-outcomes-table th,
  #student-outcomes-table td {
    background: transparent;
    transition: background 0.3s, color 0.3s;
    padding: 6px 8px;
    position: relative;
    margin: 0;
  }

  #student-outcomes-table td.perspective:before {
    display: none;
  }

  #student-outcomes-table td {
    /*    font-size: 13px;*/
    line-height: 1.5;
    overflow: hidden;
  }

  #student-outcomes-table .icon {
    display: block;
    float: none;
  }

  #student-outcomes-table td h4 {
    font-size: 14px;
    display: block;
    line-height: 1.4;
  }

  #student-outcomes-table td strong {
    font-weight: 700;
    display: inline-block;
  }

  #student-outcomes-table td strong::first-letter {
    text-transform: capitalize;
  }

  #student-outcomes-table th.perspective,
  #student-outcomes-table td.perspective {
    min-width: 19%;
    width: 19%;
  }

  #student-outcomes-table thead th .icon {
    margin: 0 0 12px;
    max-width: 40px;
    height: 40px;
  }

  #student-outcomes-table tbody th .icon {
    margin: 12px 0 0;
    max-width: 80px;
    height: 80px;
  }

  #student-outcomes-table td .icon {
    margin: 12px 0 0;
    max-width: 40px;
    height: 40px;
  }
}

/* Laptops */
@media (min-width: 992px) {
  body {
    padding-top: 81px;
  }

  #masthead:hover {
    border-color: #97b5d0; /* Color: Polo Blue */
  }

  #masthead #logo {
    background: none;
    width: 398px;
    float: left;
  }

  #menu {
    float: right;
  }

  #menu h2 {
    display: none;
  }

  #menu .site-menu {
    transform: translate(0, 0);
    position: static;
    background: none;
    z-index: 0;
    font-size: 13px;
    padding: 0 16px;
    overflow: visible;
  }

  #menu .site-menu ul {
    text-align: right;
  }

  #menu .site-menu li {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 48px;
    position: relative;
  }

  #menu .site-menu li:first-child {
    margin-left: 0;
  }

  #menu .site-menu a {
    color: #97b5d0; /* Color: Polo Blue */
    padding: 16px 0 11px;
  }

  #menu .site-menu li:hover > a {
    color: #fff; /* Color: White */
  }

  #menu .site-menu .icon {
    display: block;
    margin: 0 auto 8px;
    height: 24px;
    width: 24px;
  }

  #menu .site-menu svg {
    fill: #97b5d0; /* Color: Polo Blue */
  }

  #menu .site-menu li:hover > a svg {
    fill: #fff; /* Color: White */
  }

  #menu .site-menu .preamble {
    display: none;
  }

  #menu .site-menu li ul,
  #menu .site-menu li.compressed ul {
    position: absolute;
    top: 100%;
    left: -32px;
    margin: 0;
    background: #142235; /* Color: Tangaroa */
    padding: 32px 32px 16px;
    border: 1px solid #97b5d0; /* Color: Polo Blue */
    border-color: rgba(151, 181, 208, 0.25); /* Color: Polo Blue */
    height: auto !important;
    opacity: 1;
    transition: transform 0.5s, border 0.3s;
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }

  #menu .site-menu li:hover ul {
    transform: scale(1, 1);
  }

  #masthead:hover #menu .site-menu li ul {
    border-color: #97b5d0; /* Color: Polo Blue */
  }

  #menu .site-menu li li {
    display: block;
    margin: 0 0 16px;
    padding: 0;
  }

  #menu .site-menu li li a {
    padding: 0;
    text-align: left;
    white-space: nowrap;
    color: transparent;
  }

  #menu .site-menu li:hover li a {
    color: #97b5d0; /* Color: Polo Blue */
  }

  #menu .site-menu li:hover li:hover > a {
    color: #fff; /* Color: White */
  }

  #menu .site-menu li li a:before {
    display: none;
  }

  #menu .site-menu .parent-menu > a:after {
    background-image: url("/static/icon-triangle-lightblue.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    margin: -2px 0 0 5px;
  }

  #menu .site-menu .parent-menu:hover > a:after {
    transform: rotate(90deg);
  }

  .gallery > div {
    width: calc(100% / 3) !important;
    margin: 0 0 12px !important;
  }

  .gallery > div:nth-child(3n + 1) .preview-image {
    border-width: 1px 0 1px 1px;
  }

  .gallery > div:nth-child(3n + 2) .preview-image {
    border-width: 1px 0 1px;
  }

  .gallery > div:nth-child(3n + 3) .preview-image {
    border-width: 1px 1px 1px 0;
  }

  .fellow {
    width: calc(25%);
    padding: 12.5% 0;
  }

  article {
    padding: 32px;
  }

  article header + .article-content {
    margin-top: 52px;
  }

  article.resource header + .article-content {
    margin-top: 42px;
  }

  article section {
    margin: 64px -32px;
    padding: 64px 32px 32px;
  }

  .jumbotron {
    padding-bottom: 16px;
  }

  .jumbotron p {
    font-size: 34px;
    line-height: 1.6;
    margin: 0 auto 30px;
    max-width: 1060px;
  }

  h2 {
    font-size: 68px;
    line-height: 0.7;
    margin: 32px auto 32px;
  }

  article h2 {
    max-width: 790px;
  }

  article.resource h2 {
    margin: 0 auto;
    text-align: left;
    max-width: 1024px;
    font-size: 48px;
  }

  article.resource h2 span.preamble {
    display: block;
    margin: 0 0 2px;
    font-size: 38px;
  }

  header .icon {
    width: 128px;
    height: 128px;
  }

  #cs-in-classroom h2 {
    display: none;
  }

  .interior-container li a h3,
  article h3 {
    font-size: 25px;
  }

  .gallery > div {
    margin-bottom: 12px;
  }

  div.col-md-4:nth-last-of-type(3n-3) .preview-image {
    border-width: 1px 0 1px 1px;
    margin-right: -15px;
  }

  div.col-md-4:nth-last-of-type(3n-1) .preview-image {
    border-width: 1px 0;
    margin-left: -15px;
  }

  .box .box-content a {
    padding-left: 176px;
  }

  .box .box-content .icon {
    height: 72px;
    width: 98px;
    left: 30px;
    transform: translate(0, -50%) scale(0.92, 0.92);
  }

  .box:hover .box-content .icon {
    transform: translate(0, -50%) scale(1, 1);
  }

  .box .box-content .icon-set {
    height: 98px;
    width: 98px;
    left: 30px;
  }

  .box:hover .box-content .icon-set .icon {
    transform: scale(1.1, 1.1);
  }

  .preview-image .icon {
    height: 80px;
    width: 80px;
  }

  #featured-units .preview-image .icon {
    height: 64px;
    width: 64px;
  }

  .gallery:before {
    transform: scale(0.95, 1);
  }

  #page-menu {
    font-size: 16px;
  }

  #page-menu form {
    font-size: 15px;
  }

  #page-menu form label {
    font-size: 13px;
  }

  #page-menu header a:hover h3 {
    color: #142235; /* Color: Tangaroa */
  }

  #page-menu header a:hover h3 svg {
    fill: #142235; /* Color: Tangaroa */
  }

  .col-md-3 {
    width: 280px;
    float: right;
    padding: 32px 32px 0;
    position: relative;
    margin: 38px -16px 32px 0;
  }

  .activity-list li {
    width: calc(33.3% - 16px);
  }

  .activity-list a {
    border-color: transparent;
  }

  .activity-list a:hover {
    border-color: #97b5d0; /* Color: Polo Blue */
  }

  .light-theme .box {
    border-color: transparent;
  }

  .light-theme .box:before,
  .light-theme .box:after,
  .light-theme .box .box-content:before,
  .light-theme .box .box-content:after {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .light-theme .box .box-content:before,
  .light-theme .box .box-content:after {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .light-theme .box:hover:before,
  .light-theme .box:hover:after,
  .light-theme .box:hover .box-content:before,
  .light-theme .box:hover .box-content:after {
    opacity: 1;
  }

  .exit-menu {
    display: table;
    border-spacing: 38px;
    border-collapse: separate;
    text-align: center;
    position: relative;
    margin: 0 auto;
    color: #97b5d0; /* Color: Polo Blue */
    font-size: 16px;
    font-weight: 400;
  }

  .exit-menu ol {
    display: table-row;
  }

  .exit-menu ol li,
  .exit-menu ol li.current + li {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2;
  }

  .exit-menu ol:before,
  .exit-menu ol:after,
  .exit-menu ol li:before,
  .exit-menu ol li:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    height: 6px;
    width: 6px;
    background: #97b5d0; /* Color: Polo Blue */
    border-radius: 50%;
    transform: translate(0, -50%);
  }

  .exit-menu ol:before {
    left: 47px;
  }

  .exit-menu ol:after {
    right: 47px;
  }

  .exit-menu ol li:before {
    left: -15px;
  }

  .exit-menu ol li:after {
    right: -15px;
  }

  .exit-menu ol li a.box {
    border: 1px solid transparent;
  }

  .exit-menu ol li a.box:hover {
    color: #fff; /* Color: White */
    border-color: #fff; /* Color: White */
  }

  .exit-menu .box .box-content {
    padding: 16px;
    white-space: nowrap;
  }

  #student-outcomes-table td:last-child:hover {
    border-radius: 2px 2px 8px 2px !important;
  }

  #student-outcomes-table a {
    padding: 12px 14px;
  }

  #student-outcomes-table thead th {
    padding: 16px;
  }

  #student-outcomes-table tbody th.concept {
    min-width: 130px;
  }

  #student-outcomes-table tbody td.practice {
    min-width: 130px;
  }

  #student-outcomes-table th,
  #student-outcomes-table td {
    padding: 12px 14px;
  }

  #student-outcomes-table tr:hover th:hover ~ td {
    background: transparent;
  }

  #student-outcomes-table tr:hover td:hover {
    background: #17283e; /* Color: Midnight */
    color: #fff; /* Color: White */
  }

  #student-outcomes-table .perspective:hover {
    background: #17283e; /* Color: Midnight */
    color: #fff; /* Color: White */
  }

  #student-outcomes-table .perspective.current {
    background: #8ac8ff; /* Color: Light Sky Blue */
    color: #175494; /* Color: Endeavour */
  }

  #student-outcomes-table .perspective.current .icon svg {
    fill: #175494; /* Color: Endeavour */
  }

  #student-outcomes-table .perspective:hover .icon svg {
    fill: #fff; /* Color: White */
  }

  #student-outcomes-table tbody:hover th.concept:hover .icon svg {
    fill: #fff; /* Color: White */
  }

  #student-outcomes-table td.perspective:after {
    display: block;
    content: attr(dataDokVerb);
    line-height: 1;
    padding: 4px 6px 6px;
    transform: rotate(90deg);
    transform-origin: 0 0;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    background: #8ac8ff; /* Color: Light Sky Blue */
    color: #fff; /* Color: White */
    color: #175494; /* Color: Endeavour */
    opacity: 0;
    transition: opacity 0.3s, color 0.3s;
    text-transform: capitalize;
  }

  #student-outcomes-table tr:hover td {
    background: #8ac8ff; /* Color: Light Sky Blue */
  }

  #student-outcomes-table tbody tr:hover td.practice:hover {
    background: #1b572f; /* Color: Crusoe */
  }

  #student-outcomes-table tbody tr:hover td.practice h4 {
    color: #1b572f; /* Color: Crusoe */
  }

  #student-outcomes-table tbody tr:hover td.practice .icon svg {
    fill: #1b572f; /* Color: Crusoe */
  }

  #student-outcomes-table tbody tr:hover td.practice {
    background: #a1cc3a; /* Color: Atlantis */
  }

  #student-outcomes-table tbody tr:hover th:hover + td.practice .icon svg {
    fill: #a1cc3a; /* Color: Atlantis */
  }

  #student-outcomes-table tbody:hover th.concept:hover {
    background: #8a2C00; /* Color: Saddle Brown */
    color: #fff; /* Color: White */
  }

  #student-outcomes-table tbody:hover th.concept .icon svg {
    fill: #ca4b0c; /* Color: Tenne */
  }

  #student-outcomes-table tbody:hover th.concept {
    background: #f9af60; /* Color: Rajah */
  }

  #student-outcomes-table tbody tr:hover th:hover + td.practice {
    background: transparent;
  }

  #student-outcomes-table tbody tr:hover td.practice:hover .icon svg {
    fill: #fff; /* Color: White */
  }

  #student-outcomes-table tbody tr:hover td.practice:hover h4 {
    color: #fff; /* Color: White */
  }

  #student-outcomes-table td.perspective {
    padding-right: 28px;
  }

  #student-outcomes-table td.perspective:before {
    display: block;
    content: attr(dataDokNumber);
    background: #175494; /* Color: Endeavour */
    color: #fff; /* Color: White */
    padding: 4px 0;
    line-height: 1;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-radius: 50%;
    z-index: 4;
    width: 19px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s, background 0.3s;
    font-size: 11px;
  }

  #student-outcomes-table tr:hover td.perspective:before,
  #student-outcomes-table tr:hover td.perspective:after {
    opacity: 1;
  }

  #student-outcomes-table tr:hover th:hover ~ td.perspective:before,
  #student-outcomes-table tr:hover th:hover ~ td.perspective:after {
    opacity: 0;
  }

  #student-outcomes-table tr:hover td.perspective:hover:before {
    background: #17283e; /* Color: Midnight */
  }

  #student-outcomes-table tr:hover td.perspective:hover:after {
    color: #17283e; /* Color: Midnight */
  }

  p[data-desktop]::after {
    content: attr(data-desktop);
    display: block;
    font-size: 18px;
    text-align: center;
    margin: 32px 0;
  }
}

@media (min-width: 1160px) {
  body {
    padding-top: 97px;
  }

  #masthead #logo {
    padding: 24px 32px;
  }

  #menu .site-menu {
    padding-right: 32px;
  }

  #menu .site-menu a {
    padding: 21px 0 16px;
  }

  #menu .site-menu .icon {
    height: 30px;
    width: 30px;
  }

  #menu .site-menu .preamble {
    display: inline;
  }

  .jumbotron .next {
    max-width: 640px;
  }

  #page-menu {
    top: 96px;
  }
}

/* Desktops and wide Screens */
@media only screen and (min-width: 1200px) {
  header .box .box-content {
    padding: 24px 64px 24px 191px;
  }

  header .box .box-content .icon {
    left: 46px;
  }
}
