/**
 * Styling for filter sidebar
 */

/* Filter Sidebar*/
#page-menu {
  font-size: 20px;
  width: 100%;
  border-right: 1px solid #f26922; /* Color: Pumpkin */
  position: fixed;
  top: 68px;
  left: 0;
  bottom: 0;
  z-index: 8;
  transform: translate(calc(-100% + 50px), 0);
  transition: transform 0.5s;
}

#page-menu + article {
  margin-left: 50px;
}

#page-menu.active {
  transform: translate(-16px, 0);
}

#page-menu.active + article {
  transform: translate(calc(100vw - 66px), 0);
}

#page-menu header {
  position: absolute;
  top: 10px;
  left: calc(100% - 10px);
  transform: rotate(90deg);
  transform-origin: 0 0;
  white-space: nowrap;
  width: calc(100vh - 68px);
  z-index: 2;
}

#page-menu header a {
  display: block;
  text-decoration: none;
  width: 100%;
}

#page-menu h3 {
  transition: color 0.3s;
  color: #f26922; /* Color: Pumpkin */
}

#page-menu h3 .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin: -2px 4px 3px 0;
  transition: width 0.5s, height 0.5s, margin 0.5s;
}

#page-menu h3 svg {
  fill: #f26922; /* Color: Pumpkin */
}

#page-menu .menu-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px 50px 0 32px;
}

#page-menu ul {
  list-style: none;
}

#page-menu ul li {
  list-style: none;
  margin: 0 0 8px;
}

#page-menu.active h3 .icon.open {
  width: 0;
  margin-right: 0;
}

#page-menu h3 .icon.close {
  width: 0;
  margin-right: 0;
}

#page-menu.active h3 .icon.close {
  width: 32px;
  margin-right: 4px;
}

#page-menu h4 {
  text-transform: uppercase;
  margin: 32px 0 10px;
}
