/**
 * General stylings for whole website
 */

/* General Styles */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 96px;
}

body {
  padding-top: 69px;
  padding-bottom: 20px;
  margin: 0;
  background: #142235; /* Color: Tangaroa */
  color: #fff; /* Color: White */
  font-size: 18px;
  line-height: 1.6;
}

a,
nav a {
  color: #97b5d0; /* Color: Polo Blue */
  text-decoration: none;
}

a:hover,
nav a:hover {
  color: #fff; /* Color: White */
}

a:focus,
nav a:focus {
  color: #97b5d0; /* Color: Polo Blue */
  text-decoration: none;
}

a svg,
nav a svg {
  fill: #97b5d0; /* Color: Polo Blue */
}

a:hover svg,
nav a:hover svg {
  fill: #fff; /* Color: White */
}

a img {
  border: 2px solid #97b5d0; /* Color: Polo Blue */
}

a:hover img,
nav a:hover img {
  border-color: #fff; /* Color: White */
}

svg,
nav svg {
  height: 100%;
  width: 100%;
  overflow: visible !important;
}

img,
nav img {
  max-width: 100%;
  height: auto;
}

p.title {
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 span {
  margin: 0px auto 10px auto;
  font-size: 36px;
}

h2 {
  font-size: 34px;
  line-height: 0.72;
  margin: 0 0 -1px;
}

h2 .preamble,
h2 b span {
  color: #97b5d0; /* Color: Polo Blue */
}

header .icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

section header a:hover svg {
  fill: #97b5d0; /* Color: Polo Blue */
}

h2,
nav,
.subtitle,
.btn {
  text-transform: uppercase;
}

h3 {
  color: #fff; /* Color: White */
  font-size: 22px;
  line-height: 1.3;
  margin: 0 0 4px;
}

h3 .subtitle {
  font-size: 13px;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

iframe {
  max-width: 100%;
}

#page {
  margin: 0 0 32px;
}

:focus-visible {
  outline: 3px solid #7033a0; /* Color: Royal Purple */
}

.parentFocus:focus-within {
  outline: 3px solid #7033a0; /* Color: Royal Purple */
}

.icon,
.subtitle {
  display: block;
}

.container {
  padding: 0;
  width: auto;
  overflow: hidden;
}

.interior-container {
  padding: 96px 16px 16px;
}

.interior-container ul {
  margin: 16px 0;
}

.interior-container li {
  margin: 0 0 16px;
}

.interior-container li a .icon {
  display: none;
}

.introduction {
  padding: 0;
}

.headline {
  font-size: 22px;
  font-weight: 400;
}

.examples {
  border-bottom: 2px solid #97b5d0; /* Color: Polo Blue */
  margin: 0 0 32px;
  font-weight: 400;
  padding-left: 18px;
}

/* Button Styles */
.button {
  color: #97b5d0; /* Color: Polo Blue */
  border: 1px solid #97b5d0; /* Color: Polo Blue */
  border-radius: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 8px;
  padding: 6px 12px;
  position: relative;
  text-transform: uppercase;
  vertical-align: baseline;
}

.button:hover {
  border-color: #fff; /* Color: White */
}

.btn {
  color: #97b5d0; /* Color: Polo Blue */
  border: 2px solid #97b5d0; /* Color: Polo Blue */
  border-radius: 0;
  background: none;
  display: block;
  font-size: 20px;
  line-height: 1.4;
  margin: 15px 0;
  padding: 16px;
  position: relative;
  white-space: normal;
  text-shadow: none;
  text-align: center;
}

.btn:hover {
  background: none;
  border-color: #fff; /* Color: White */
  color: #fff; /* Color: White */
}

.btn:focus {
  background: none;
  border-color: #97b5d0; /* Color: Polo Blue */
}

.btn.btn-sm {
  padding: 8px 16px;
  margin-top: 0;
}

.btn-sm,
.btn span {
  display: inline-block;
}

/* Articles */
article {
  padding: 16px 16px 32px;
  margin: 0;
  position: relative;
  transition: transform 0.5s;
}

article:after {
  content: "";
  display: block;
  clear: both;
}

article p,
article h2,
article h3,
article h4,
article h5,
article h6,
article ul,
article ol,
article form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

article p,
article ul {
  margin-bottom: 32px;
  margin-top: 0;
}

.sub-head,
.interior-container p {
  text-align: center;
}

article h2 {
  margin-bottom: 16px;
}

article h3:not(:first-child) {
  margin-top: 48px;
}

article h4 {
  text-transform: uppercase;
  margin: 0 auto;
}

article ul,
article ol {
  padding: 0 0 0 18px;
  margin: 32px auto;
}

article ul.submenu {
  padding: 0;
}

article li {
  margin: 0 32px 16px;
}

article ul li {
  list-style-type: square;
}

article li li {
  margin: 0 32px 16px;
  list-style-type: circle;
}

article header p {
  font-size: 21px;
  line-height: 1.4;
}
article header h2 span {
  display: inline-block;
}

article .article-content,
article .section-content {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  transition: transform 0.5s;
}

article .article-content {
  margin: 0 auto 32px;
  position: relative;
}

article .section-content {
  overflow: hidden;
  transition: max-height 0.4s, margin 0.4s;
  background: #fff; /* Color: White */
}

article .section-content a:hover,
article .article-content a:hover,
.interior-container a:hover {
  text-decoration: underline;
}

article .activity-list a:hover,
article .submenu a:hover {
  text-decoration: none;
}

article .section-content:after {
  content: "";
  display: block;
  clear: both;
}

article .article-content ul.submenu,
article .section-content ul p,
article .article-content ul h3,
article .article-content ul h4,
.submenu {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}

article .subhead,
article .article-content .subhead,
article .section-content .subhead {
  font-size: 21px;
  line-height: 1.4;
  max-width: 790px;
}

article .submenu li {
  list-style: none;
}

article section {
  margin: 32px -16px;
  padding: 32px 16px;
  transition: background 0.4s, margin 0.4s, padding 0.4s;
  background: #fff; /* Color: White */
  color: #142235; /* Color: Tangaroa */
}

article section.compressed {
  background: transparent;
  margin: 0 -16px;
  color: inherit;
  padding: 0 16px 16px;
}

article section a.box,
article section a.box:hover,
article section a.box:focus {
  color: inherit;
}

article section.compressed a.box {
  color: #97b5d0; /* Color: Polo Blue */
}

article section header {
  max-width: 1024px;
  margin: 0 auto 32px;
  transition: margin 0.4s;
  text-align: left;
}

article section.compressed header {
  margin-bottom: 0;
}

article section header h3 {
  max-width: none;
  color: #142235; /* Color: Tangaroa */
  transition: color 0.4s;
}

article section.compressed header h3 {
  color: #fff; /* Color: White */
}

article section .box {
  border: 1px solid transparent;
}

article section .box:hover {
  border-color: #97b5d0; /* Color: Polo Blue */
}

article section + .article-content {
  margin-top: 24px;
}

article section.compressed .section-content {
  height: 0 !important;
  margin: 0 auto;
}

article table {
  width: calc(100% + 8px);
  margin: 32px -4px;
  border-spacing: 4px;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  max-width: 1024px;
}

article table th {
  padding: 8px 0;
  font-weight: 900;
}

article table td {
  background: #97b5d0; /* Color: Polo Blue */
}

article table td:before {
  content: attr(dataColumn);
  font-weight: 900;
  display: block;
}

article table td:last-child {
  border-radius: 0 0 2px 2px;
}

article table td.placeholder {
  background: none;
  border: 1px solid #97b5d0; /* Color: Polo Blue */
  display: none;
}

article table tr:last-child td:last-child {
  border-radius: 0 0 8px 8px;
}

article table thead tr {
  display: none;
}

article table tbody th {
  background: #142235; /* Color: Tangaroa */
  color: #fff; /* Color: White */
}

article table tbody th,
article table td {
  display: block;
  vertical-align: top;
  padding: 16px;
}

article table tbody th,
article table td:first-child {
  border-radius: 2px 2px 0 0;
}

article table tbody tr:first-child th,
article table tbody tr:first-child td:first-child {
  border-radius: 8px 8px 0 0;
}

article table p {
  margin: 0 0 8px;
}

article table p,
article .section-content table p,
article table ul {
  margin: 0;
}

article table p + p {
  margin-top: 16px;
}

article table a {
  color: inherit !important;
  text-decoration: underline;
}

article table h4 {
  font-size: inherit;
  max-width: none;
}

article table ul {
  padding: 0;
}

article table li {
  list-style-type: none;
  margin: 0 0 8px;
  font-weight: inherit;
}

article table caption {
  color: inherit;
  text-transform: uppercase;
  padding: 4px;
  font-size: 18px;
  text-align: left;
}

table.ordered {
  counter-reset: row table-headers;
}

table.ordered tr:before {
  content: "";
  display: none;
  font-weight: 900;
  vertical-align: middle;
  padding: 8px 12px 8px 0;
}

table.ordered tbody th:before {
  counter-increment: table-headers;
  content: counter(table-headers) ". ";
}

table.ordered tbody tr:before {
  counter-increment: row;
  content: counter(row);
}

.wp-block-table table {
    width: 100%;
    table-layout: fixed;
}

.article-content img {
  display: block;
  margin: 32px auto;
  width: 640px;
}

.article-content .read-more {
  transition: max-height 0.5s;
  overflow: hidden;
}

.article-content .inactive {
  display: none;
}

.article-content.compressed .read-more {
  height: 0 !important;
}

.article-content.compressed .inactive {
  display: inline;
}

.article-content.compressed .active {
  display: none;
}

/* Drafting line effects */
h2,
.box,
.box-content,
.preview-image,
.gallery,
.light-theme section,
.activity-list li {
  position: relative;
  display: block;
}

.preview-image {
  margin: 0 -15px 10px;
  padding: 16px 15px;
  border: 1px solid rgba(151, 181, 208, 0.2); /* Color: Polo Blue */
  border-width: 1px 0;
}

article .box h3 {
  margin-top: 0;
}

.box .box-content {
  padding: 16px;
}

.box:before,
.box:after,
.box-content:after,
.box-content:before,
.preview-image:before,
.preview-image:after,
.gallery:before,
.btn:before,
.btn:after,
.light-theme section:before,
.light-theme section:after,
.activity-list > li:before,
.activity-list > li:after,
.activity-list li a:before,
.activity-list:after {
  content: "";
  display: block;
  position: absolute;
}

.box:before,
.box:after,
.activity-list > li:before,
.activity-list > li:after {
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(
    to bottom,
    rgba(151, 181, 208, 0) 0%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0.5) 50%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0) 100% /* Color: Polo Blue */
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: scale(1, 1.4);
}

.preview-image:before,
.preview-image:after,
.btn:before,
.btn:after,
.box-content:after,
.box-content:before,
h2:after,
.gallery:before,
.activity-list li a:before,
.activity-list:after {
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(151, 181, 208, 0) 0%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0.5) 50%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0) 100% /* Color: Polo Blue */
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: scale(1.4, 1);
}

.light-theme section:before,
.light-theme section:after {
  left: 0px;
  right: 0px;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(151, 181, 208, 0) 0%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0.5) 50%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0) 100% /* Color: Polo Blue */
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.activity-list:after {
  transform: scale(1.2, 1);
}

a.box:before,
.exit-menu div.box:before,
div.box:before,
.activity-list > li:before {
  left: 0px;
}

a.box:after,
.exit-menu div.box:after,
div.box:after,
.activity-list > li:after {
  right: 0px;
}

li a.box:before,
.submenu a.box:before,
section header .box:before {
  left: -1px;
}

li a.box:after,
.submenu a.box:after,
section header .box:after {
  right: -1px;
}

.preview-image:before {
  top: 16px;
}

.preview-image:after {
  bottom: 16px;
}

.btn:before {
  top: -2px;
}

.btn:after {
  bottom: -2px;
}

.box-content:before,
.light-theme section:before {
  top: -1px;
}

.activity-list li a:before {
  top: 0;
}

h2:after,
.light-theme section:after,
.activity-list:after {
  bottom: 0;
}

.light-theme section:last-child:after {
  display: none;
}

.gallery:before {
  bottom: -48px;
}

.gallery:after {
  content: "";
  display: block;
  clear: both;
}

.box-content:after {
  bottom: -1px;
}

.box .box-content .icon {
  height: 64px;
  width: 64px;
  display: block;
  margin: 0 auto 8px;
}

.box .box-content .icon + h3 {
  display: inline-block;
}

.box .box-content .icon-set {
  height: 64px;
  width: calc(100% + 8px);
  display: block;
  margin: 0 -4px 8px;
  font-size: 0;
  text-align: center;
}

.box .box-content .icon-set .icon {
  display: inline-block;
  height: 100%;
  width: 25%;
  padding: 4px;
}

/* CS Foundations Bottom Menu */
.exit-menu li {
  display: none;
}

.exit-menu li.current a {
  text-transform: uppercase;
  font-weight: 900;
  color: #fff; /* Color: White */
}

.exit-menu li.current + li {
  display: block;
}

.exit-menu li a.btn {
  margin: 0;
}

/* Perspectives & About Sidebar */
.case-study {
  font-size: 16px;
  background: #142235; /* Color: Tangaroa */
  padding: 16px;
  color: #fff; /* Color: White */
  transition: background 0.4s;
  margin: 0;
  border-radius: 2px;
}

section.compressed .case-study {
  background: transparent;
}

.case-study h4 {
  padding: 0 0 8px;
  margin: 0 0 8px;
  border-bottom: 1px solid #fff; /* Color: White */
}

.case-study a img {
  margin: 0 0 16px;
  border-color: #fff; /* Color: White */
}

.case-study p {
  margin: 0 0 16px;
}
