/**
 * General stylings for whole website
 */

/* General Styles */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 69px;
  padding-bottom: 20px;
  margin: 0;
  background: #17283e; /* Color: Midnight */
  background: linear-gradient(to right, rgba(20, 34, 53, 1) 0%, rgba(23, 40, 62, 1) 20%, rgba(23, 40, 62, 1) 80%, rgba(20, 34, 53, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff; /* Color: White */
  font-size: 18px;
  line-height: 1.6;
}

a,
nav a {
  color: #8ac8ff; /* Color: Light Sky Blue */
  text-decoration: none;
}

a:hover,
nav a:hover {
  color: #fff; /* Color: White */
}

a:focus,
nav a:focus {
  outline: none !important;
  color: #8ac8ff; /* Color: Light Sky Blue */
  text-decoration: none;
}

a svg,
nav a svg {
  fill: #8ac8ff; /* Color: Light Sky Blue */
}

a:hover svg,
nav a:hover svg {
  fill: #fff; /* Color: White */
}

a img {
  border: 2px solid #8ac8ff; /* Color: Light Sky Blue */
}

a:hover img,
nav a:hover img {
  border-color: #fff; /* Color: White */
}

svg,
nav svg {
  height: 100%;
  width: 100%;
  overflow: visible !important;
}

img,
nav img {
  max-width: 100%;
  height: auto;
}

p.title {
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 span{
  margin: 0px auto 10px auto;
  font-size: 36px;
}

h2 {
  font-size: 34px;
  line-height: .72;
  margin: 0 0 -1px;
}

h2 .preamble,
h2 b span {
  color: #8ac8ff; /* Color: Light Sky Blue */
}

header .icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

section header a:hover svg {
  fill: #8ac8ff; /* Color: Light Sky Blue */
}

h2,
nav,
.subtitle,
.btn
/*#cboxTitle*/ {
  text-transform: uppercase;
}

h3 {
  color: #fff; /* Color: White */
  font-size: 22px;
  line-height: 1.3;
  margin: 0 0 4px;
}

h3 .subtitle {
  font-size: 13px;
  color: #a1cc3b; /* Color: Atlantis */
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

iframe {
  max-width: 100%;
}

#page {
  overflow: hidden;
  margin: 0 0 32px;
}

.icon,
.subtitle {
  display: block;
}

.container {
  padding: 0;
  width: auto;
  overflow: hidden;
}

.interior-container,
.jumbotron /*Move?*/{
  padding: 32px 16px 16px;
}

.interior-container ul {
  margin: 16px 0;
}

.interior-container li {
  margin: 0 0 16px;
}

.interior-container li a .icon {
  display: none;
}

.introduction {
  padding: 0;
}

.headline {
  font-size: 22px;
  font-weight: 400;
  color: #f26922; /* Color: Pumpkin */
}

.examples {
  border-bottom: 2px solid #8ac8ff; /* Color: Light Sky Blue */
  margin: 0 0 32px;
  font-weight: 400;
  padding-left: 18px;
}

/* Button Styles */
.button {
  color: #8ac8ff; /* Color: Light Sky Blue */
  border: 1px solid #8ac8ff; /* Color: Light Sky Blue */
  border-radius: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 8px;
  padding: 6px 12px;
  position: relative;
  text-transform: uppercase;
  vertical-align: baseline;
}

.button:hover {
  border-color: #fff; /* Color: White */
}

.btn {
  color: #8ac8ff; /* Color: Light Sky Blue */
  border: 2px solid #8ac8ff; /* Color: Light Sky Blue */
  border-radius: 0;
  background: none;
  display: block;
  font-size: 20px;
  line-height: 1.4;
  margin: 15px 0;
  padding: 16px;
  position: relative;
  white-space: normal;
  text-shadow: none;
  text-align: center;
}

.btn:hover {
  background: none;
  border-color: #fff; /* Color: White */
  color: #fff; /* Color: White */
}

.btn:focus {
  background: none;
  border-color: #8ac8ff; /* Color: Light Sky Blue */
}

.btn.btn-sm {
  padding: 8px 16px;
  margin-top: 0;
}

.btn-sm,
.btn span {
  display: inline-block;
}

/* Articles */
article {
  padding: 16px 16px 32px;
  margin: 0;
  position: relative;
  transition: transform .5s;
}

article:after {
  content: '';
  display: block;
  clear: both;
}

article p,
article h2,
article h3,
article h4,
article h5,
article h6,
article ul,
article ol,
article form {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

article p,
article ul {
  margin-bottom: 32px;
  margin-top: 0;
}

article h2 {
  margin-bottom: 16px;
}

article h3:not(:first-child) {
  margin-top: 48px;
}

article h4 {
  text-transform: uppercase;
  margin: 0 auto;
}

article ul,
article ol {
  padding: 0 0 0 18px;
  margin: 32px auto;
}

article ul.submenu {
  padding: 0;
}

article li {
  margin: 0 0 16px;
}

article ul li {
  list-style-type: square;
}

article header p {
  font-size: 21px;
  line-height: 1.4;
}
article header h2 span {
  display: inline-block;
}

article .article-content,
article .section-content {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  transition: transform .5s;
}

article .article-content {
  margin: 0 auto 32px;
  position: relative;
}

article .section-content {
  overflow: hidden;
  transition: max-height .4s, margin .4s;
}

article .section-content:after {
  content: '';
  display: block;
  clear: both;
}

article .article-content ul.submenu,
article .section-content ul p,
article .article-content ul h3,
article .article-content ul h4,
.submenu {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}

article .subhead,
article .article-content .subhead,
article .section-content .subhead {
  font-size: 21px;
  line-height: 1.4;
  max-width: 790px;
}

article .submenu li {
  list-style: none;
}

article section {
  margin: 32px -16px;
  padding: 32px 16px;
  transition: background .4s, margin .4s, padding .4s;
  background: #fff; /* Color: White */
  color: #17283e; /* Color: Midnight */
}

article section.compressed {
  background: transparent;
  margin: 0 -16px;
  color: inherit;
  padding: 0 16px 16px;
}

article section a.box,
article section a.box:hover,
article section a.box:focus {
  color: inherit;
}

article section.compressed a.box {
  color: #8ac8ff; /* Color: Light Sky Blue */
}

article section header {
  max-width: 1024px;
  margin: 0 auto 32px;
  transition: margin .4s;
  text-align: left;
}

article section.compressed header {
  margin-bottom: 0;
}

article section header h3 {
  max-width: none;
  color: #17283e; /* Color: Midnight */
  transition: color .4s;
}

article section.compressed header h3 {
  color: #fff; /* Color: White */
}

article section .box {
  border: 1px solid transparent;
}

article section .box:hover {
  border-color: #8ac8ff; /* Color: Light Sky Blue */
}

article section + .article-content {
  margin-top: 24px;
}

article section.compressed .section-content {
  height: 0 !important;
  margin: 0 auto;
}

article table {
  width: calc(100% + 8px);
  margin: 32px -4px;
  border-spacing: 4px;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  max-width: 1024px;
}

article table th {
  padding: 8px 0;
  font-weight: 900;
}

article table td {
  background: #8ac8ff; /* Color: Light Sky Blue */
}

article table td:before {
  content: attr(dataColumn);
  font-weight: 900;
  display: block;
}

article table td:last-child {
  border-radius: 0 0 2px 2px;
}

article table td.placeholder {
  background: none;
  border: 1px solid #8ac8ff; /* Color: Light Sky Blue */
  display: none;
}

article table tr:last-child td:last-child {
  border-radius: 0 0 8px 8px;
}

article table thead tr {
  display: none;
}

article table tbody th
/*article #activity-body tr td:first-child*/ {
  background: #17283e; /* Color: Midnight */
  color: #fff; /* Color: White */
}

article table tbody th,
article table td {
  display: block;
  vertical-align: top;
  padding: 16px;
}

article table tbody th,
article table td:first-child {
  border-radius: 2px 2px 0 0;
}

article table tbody tr:first-child th,
article table tbody tr:first-child td:first-child {
  border-radius: 8px 8px 0 0;
}

article table p {
  margin: 0 0 8px;
}

article table p,
article .section-content table p,
article table ul {
  margin: 0;
}

article table p + p {
  margin-top: 16px;
}

article table a {
  color: inherit !important;
  text-decoration: underline;
}

article table h4 {
  font-size: inherit;
  max-width: none;
}

article table ul {
  padding: 0;
}

article table li {
  list-style-type: none;
  margin: 0 0 8px;
  font-weight: inherit;
}

article table caption {
  color: inherit;
  text-transform: uppercase;
  padding: 4px;
  font-size: 18px;
  text-align: left;
}

table.ordered {
  counter-reset: row table-headers;
}

table.ordered tr:before {
  content: '';
  display: none;
  font-weight: 900;
  vertical-align: middle;
  padding: 8px 12px 8px 0;
}

table.ordered tbody th:before {
  counter-increment: table-headers;
  content: counter(table-headers) ". ";
}

table.ordered tbody tr:before {
  counter-increment: row;
  content: counter(row);
}

.article-content img {
  display: block;
  margin: 32px auto;
  width: 640px;
}

.article-content .read-more {
  transition: max-height .5s;
  overflow: hidden;
}

.article-content .inactive {
  display: none;
}

.article-content.compressed .read-more {
  height: 0 !important;
}

.article-content.compressed .inactive {
  display: inline;
}

.article-content.compressed .active {
  display: none;
}

/* Drafting line effects */
h2,
.box,
.box-content,
.preview-image,
.gallery,
.light-theme section,
.activity-list li {
  position: relative;
  display: block;
}

.preview-image {
  margin: 0 -15px 10px;
  padding: 16px 15px;
  border: 1px solid rgba(136, 184, 227, .2);
  border-width: 1px 0;
}

article .box h3 {
  margin-top: 0;
}

.box .box-content {
  padding: 16px;
}

/*#content h2:after,*/
.box:before,
.box:after,
.box-content:after,
.box-content:before,
.preview-image:before,
.preview-image:after,
.gallery:before,
.btn:before,
.btn:after,
.light-theme section:before,
.light-theme section:after,
.activity-list > li:before,
.activity-list > li:after,
.activity-list li a:before,
.activity-list:after {
  content: '';
  display: block;
  position: absolute;
}

.box:before,
.box:after,
.activity-list > li:before,
.activity-list > li:after {
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, rgba(136, 184, 227, 0) 0%, rgba(136, 184, 227, 0.5) 50%, rgba(136, 184, 227, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: scale(1, 1.4);
}

.preview-image:before,
.preview-image:after,
.btn:before,
.btn:after,
.box-content:after,
.box-content:before,
h2:after,
.gallery:before,
.activity-list li a:before,
.activity-list:after {
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(136, 184, 227, 0) 0%, rgba(136, 184, 227, 0.5) 50%, rgba(136, 184, 227, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: scale(1.4, 1);
}

.light-theme section:before,
.light-theme section:after {
  left: 0px;
  right: 0px;
  height: 2px;
  background: linear-gradient(to right, rgba(136, 184, 227, 0) 0%, rgba(136, 184, 227, 0.5) 50%, rgba(136, 184, 227, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.activity-list:after {
  transform: scale(1.2, 1);
}

a.box:before,
.exit-menu div.box:before,
div.box:before,
.activity-list > li:before {
  left: 0px;
}

a.box:after,
.exit-menu div.box:after,
div.box:after,
.activity-list > li:after {
  right: 0px;
}

li a.box:before,
/*#statement .box:before,*/
.submenu a.box:before,
section header .box:before {
  left: -1px;
}

li a.box:after,
/*#statement .box:after,*/
.submenu a.box:after,
section header .box:after {
  right: -1px;
}

.preview-image:before {
  top: 16px;
}

.preview-image:after {
  bottom: 16px;
}

.btn:before {
  top: -2px;
}

.btn:after {
  bottom: -2px;
}

.box-content:before,
.light-theme section:before {
  top: -1px;
}

.activity-list li a:before {
  top: 0;
}

h2:after,
.light-theme section:after,
.activity-list:after {
  bottom: 0;
}

.light-theme section:last-child:after {
  display: none;
}

.gallery:before {
  bottom: -48px;
}

.gallery:after {
  content: '';
  display: block;
  clear: both;
}

.box-content:after {
  bottom: -1px;
}

.box .box-content .icon {
  height: 64px;
  width: 64px;
  display: block;
  margin: 0 auto 8px;
}

.box .box-content .icon + h3 {
  display: inline-block;
}

.box .box-content .icon-set {
  height: 64px;
  width: calc(100% + 8px);
  display: block;
  margin: 0 -4px 8px;
  font-size: 0;
  text-align: center;
}

.box .box-content .icon-set .icon {
  display: inline-block;
  height: 100%;
  width: 25%;
  padding: 4px;
}

/* CS Foundations Bottom Menu */
.exit-menu li {
  display: none;
}

.exit-menu li.current a {
  text-transform: uppercase;
  font-weight: 900;
  color: #fff; /* Color: White */
}

.exit-menu li.current + li {
  display: block;
}

.exit-menu li a.btn {
  margin: 0;
}

/* Curriculum & Resources Display Grid */
article .activity-list {
  max-width: none;
  padding: 0;
}

article .activity-list li {
  padding: ;
}

article .activity-list .preview {
  position: relative;
}

article .activity-list .preview.video:after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/src/images/icon-play.svg") no-repeat center center;
  background-size: 100% 100%;
}

article .activity-list a img {
  margin: 0 0 16px;
  border-width: 1px;
}

article .activity-list h3 {
  margin-top: 0 !important;
  font-size: 22px;
}

article .activity-list h3 .preamble {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.4;
  color: #8ac8ff; /* Color: Light Sky Blue */
}

.activity-list a {
  display: block;
  padding: 16px;
  border: 1px solid #8ac8ff; /* Color: Light Sky Blue */
}

.activity-list a:hover {
  color: #8ac8ff; /* Color: Light Sky Blue */
}

.activity-list a span {
  display: block;
}

h3 .activity-grade {
  font-size: 14px;
}

/* Perspectives & About Sidebar */
.case-study
/*.col-md-3*/ {
  font-size: 16px;
  background: #17283e; /* Color: Midnight */
  padding: 16px;
  color: #fff; /* Color: White */
  transition: background .4s;
  margin: 0;
  border-radius: 2px;
}

section.compressed .case-study {
  background: transparent;
}

.case-study h4
/*.col-md-3 h3*/ {
  padding: 0 0 8px;
  margin: 0 0 8px;
  border-bottom: 1px solid #fff; /* Color: White */
}

.case-study a img {
  margin: 0 0 16px;
  border-color: #fff; /* Color: White */
}

.case-study p
/*.col-md-3 p*/ {
  margin: 0 0 16px;
}

/* Resources Filter Sidebar*/
#page-menu {
  font-size: 20px;
  width: 100%;
  border-right: 1px solid #f26922; /* Color: Pumpkin */
  position: fixed;
  top: 68px;
  left: 0;
  bottom: 0;
  z-index: 8;
  transform: translate(calc(-100% + 50px), 0);
  transition: transform .5s;
}

#page-menu + article {
  margin-left: 50px;
}

#page-menu.active {
  transform: translate( -16px, 0 );
}

#page-menu.active + article {
  transform: translate( calc(100vw - 66px), 0 );
}

#page-menu header {
  position: absolute;
  top: 10px;
  left: calc(100% - 10px);
  transform: rotate(90deg);
  transform-origin: 0 0;
  white-space: nowrap;
  width: calc(100vh - 68px);
  z-index: 2;
}

#page-menu header a {
  display: block;
  text-decoration: none;
  width: 100%;
}

#page-menu h3 {
  transition: color .3s;
  color: #f26922; /* Color: Pumpkin */
}

#page-menu h3 .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin: -2px 4px 3px 0;
  transition: width .5s, height .5s, margin .5s;
}

#page-menu h3 svg {
  fill: #f26922; /* Color: Pumpkin */
}

#page-menu .menu-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px 50px 0 32px;
}

#page-menu ul {
  list-style: none;
}

#page-menu ul li {
  list-style: none;
  margin: 0 0 8px;
}

#page-menu.active h3 .icon.open {
  width: 0;
  margin-right: 0;
}

#page-menu h3 .icon.close {
  width: 0;
  margin-right: 0;
}

#page-menu.active h3 .icon.close {
  width: 32px;
  margin-right: 4px;
}

#page-menu h4 {
  text-transform: uppercase;
  margin: 32px 0 10px;
}

/* TO DELETE */

/* Might be part of resource filter */
#page-menu .form-group {
  margin: 0 0 32px;
}

#page-menu fieldset {
  transition: margin .5s;
}

#page-menu fieldset.compressed {
  margin-bottom: 8px;
}

#page-menu fieldset legend a {
  color: inherit;
  text-decoration: none;
}

#page-menu fieldset .options {
  transition: height .5s;
  overflow: hidden;
}

#page-menu fieldset.compressed .options {
  height: 0 !important;
}

#page-menu fieldset legend a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("/src/images/svg/icon-triangle.svg") no-repeat 50% 50%;
  width: 10px;
  height: 10px;
  margin: -3px 0 0 8px;
  transform: rotate(90deg);
  transition: transform .5s;
}

#page-menu fieldset.compressed legend a:after {
  transform: rotate(0deg);
}

legend {
  padding: 0;
  display: table;
  margin: 0 0 8px;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0 0 32px;
  min-width: 0;
}

fieldset label {
  display: block;
  margin: 0 0 8px;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

.options label {
  cursor: pointer;
}

/* Unused */
@media (min-width: 690px) {
  .infoTitle {
  font-size: 28px;
  }

  .readMore {
  background-color:#599bb3; /* Color: Shakespeare */
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  border-radius:9px;
  display:inline-block;
  cursor:pointer;
  color:#fff; /* Color: White */
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:10px 25px;
  text-decoration:none;
  text-shadow:-1px 1px 2px #3d768a;
  }
  .readMore:hover {
  background-color:#408c99;
  }
  .readMore:active {
  position:relative;
  top:1px;
  }
}

article table#userdata td li:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.pagination {
  text-align: center;
}

article .col-md-3 h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  margin-top: 64px;
}

.col-md-3 a {
  display: inline-block;
  vertical-align: top;
}

.col-md-3 .btn {
  color: #8ac8ff !important;
  border-color: #8ac8ff !important;
  transition: color .3s, border .3s;
}

.col-md-3 .btn:hover {
  color: #fff !important;
  border-color: #fff !important;
}

.col-md-3 hr {
  display: none;
}

.col-md-3 ul {
  margin-top: 0;
}

.add-new {
  text-align: center;
}

symbol {
  overflow: visible;
}

article .assets {
  max-width: none;
  padding-left: 0;
}

article .assets li {
  margin: 0 0 8px;
  list-style: none;
}

article .assets h3 {
  font-size: 20px;
  line-height: 1.6;
}

article .assets a h3 {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

article .assets > li {
  background: no-repeat 0 0;
  background-size: 28px 28px;
  background-position: 0 3px;
  padding-left: 42px;
  list-style: none;
  position: relative;
}

article .assets p {
  margin: 0 0 32px;
}

article .assets li.asset-download {
  background-image: url("/src/images/svg/icon-download-d-medium.svg");
}

article .assets li.asset-link {
  background-image: url("/src/images/svg/icon-link-medium.svg");
}

article .assets li.asset-tip {
  background-image: url("/src/images/svg/icon-tip-a-medium.svg");
}

article .activity-list .asset-count {
  margin: 16px 0 0;
  padding: 0;
  color: #fff;
}

article .activity-list .asset-count li {
  display: inline-block;
  width: auto;
  margin: 0 16px 0 0;
  padding: 0 0 0 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

article .activity-list .asset-count li.assets-downloads {
  background-image: url("/src/images/svg/icon-download-d-medium.svg");
}

article .activity-list .asset-count li.assets-links {
  background-image: url("/src/images/svg/icon-link-medium.svg");
}

article .activity-list .asset-count li.assets-tips {
  background-image: url("/src/images/svg/icon-tip-a-medium.svg");
}

.asset-tip a {
  position: relative;
}

.asset-tip a[href="#"]:after {
  content: '';
  display: block;
  position: absolute;
  right: -22px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: url("/src/images/svg/icon-triangle.svg") no-repeat center center;
  transform: rotate(90deg);
  transition: transform .5s;
}

.compressed.asset-tip a[href="#"]:after {
  transform: rotate(0deg);
}

.expanded-tip {
  overflow: hidden;
  transition: height .5s;
}

.compressed .expanded-tip {
  height: 0 !important;
}

article .resource-related ul.resource-tags {
  max-width: none;
  margin-left: 0;
  padding-left: 0;
}

article .resource-tags li {
  list-style: none;
  display: inline;
  margin: 0 4px 8px 0;
}

article .resource-tags li a {
  display: inline-block;
  color: #fff;
  background: #f26922;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 16px;
}

article .resource-tags li a:hover {
  text-decoration: none;
}

.resource-content a h3 {
  transition: color .3s;
}

.resource-content a:hover h3 {
  color: #f26922;
}

article.resource ul p {
  font-size: 16px;
}

.resource-related {
  width: 100%;
  margin: 16px 0;
  font-size: 16px;
  background: #17283e;
  padding: 16px;
  color: #fff;
  border-radius: 2px;
}

.resource-related h3 {
  display: none;
}

.resource-related h4 {
  max-width: none;
}

.resource-related h4:not(:first-of-type) {
  margin: 32px 0 0;
}

article .resource-related ul {
  margin: 8px 0;
  padding: 0 0 0 15px;
}

article form + p {
  text-align: center;
}

form .btn {
  padding: 6px 16px;
  width: 100%;
  text-shadow: none;
  font-size: 15px;
  vertical-align: top;
  box-shadow: none;
  margin: 16px 0;
  cursor: pointer;
}

form .input-group-btn .btn {
  margin: 0;
}

.activity-subject {
}

span.activity-concepts {
}

input[type="text"],
input[type="submit"],
input[type="password"],
textarea {
  padding: 12px 16px;
  display: block;
  background: #17283e;
  font-size: 100%;
  color: #fff;
  margin: 4px 0 16px;
  transition: background .3s, color .3s;
}

input[type="text"]:focus,
input[type="submit"]:focus,
input[type="password"]:focus,
textarea {
  background: #fff;
  color: #6b8bb2;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #6b8bb2;
  width: 100%;
  border-radius: 4px;
}

input[type="submit"] {
  color: #8ac8ff;
  cursor: pointer;
}

#page-menu input[type="radio"],
#page-menu input[type="checkbox"] {
  margin: 0 10px 0 0;
}

#floatMenu {
  top:5%;
}

#activity-body .lst-kix_list_1-1 {
  padding-left: 36px;
  margin-top: -16px;
}
#activity-body .lst-kix_list_1-1 li {
  margin-bottom: 8px;
}
#activity-body h3 {
  color: #17283e;
  margin-top: 92px;
}
article #activity-body ul {
  font-weight: 300;
}
article #activity-body ul li {
  margin-bottom: 8px;
  font-weight: 300;
}
