/**
 * Styling for outcomes page
 */

/* Student Outcomes Tables */
#student-outcomes-table {
  max-width: 1200px;
}

#student-outcomes-table a {
  display: block;
  text-decoration: none;
}

#student-outcomes-table tbody tr {
  display: block;
  margin: 0 0 48px;
}

#student-outcomes-table tbody::after {
  content: "";
  display: block;
  height: 24px;
}

#student-outcomes-table th,
#student-outcomes-table td {
  background: transparent;
  transition: background 0.3s, color 0.3s;
  padding: 0;
  margin: 0 0 16px;
}

#student-outcomes-table th {
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 48px;
}

#student-outcomes-table strong {
  font-weight: normal;
}

#student-outcomes-table .icon {
  display: inline-block;
  float: left;
  margin: -8px 12px 0 0;
  max-width: 34px;
  height: 34px;
}

#student-outcomes-table td.practice {
  margin: 0 0 24px;
}

#student-outcomes-table td.perspective:before {
  display: inline-block;
  content: attr(dataColumn)"\00a0";
}

#student-outcomes-table td.perspective:after {
  display: inline-block;
  content: "("attr(dataDokNumber)"\00a0\2022\0020"attr(dataDokVerb)")";
  font-weight: bold;
}

#student-outcomes-table th.perspective {
  padding: 0 0 128px;
}

#student-outcomes-table tbody th.concept {
  padding: 20px 16px;
  text-align: left;
  margin-left: -16px;
  margin-right: -16px;
  border-radius: 0;
}
