/**
 * Styling for site color schemes
 */

/* General Colors */
.jumbotron p a,
h3 .subtitle {
  color: #a1cc3a; /* Color: Atlantis */
}

.headline,
#page-menu h3,
.section-content a,
.section-content a:hover {
  background: #fff; /* Color: White */
  color: #ca4b0c; /* Color: Tenne */
}

#page-menu h3 svg {
  fill: #ca4b0c; /* Color: Tenne */
}

.article-content a {
  color: #f9af60 ; /* Color: Rajah */
}

.case-study a,
.case-study a:hover {
  background: inherit;
  color: #f9af60 !important; /* Color: Rajah */
}

.activity-list a,
.activity-list a:hover {
  color: #97b5d0; /* Color: Polo Blue */
}

/* Student Outcomes Tables */
#student-outcomes-table th.perspective {
  color: #175494; /* Color: Endeavour */
}

#student-outcomes-table .perspective .icon svg {
  fill: #8ac8ff; /* Color: Light Sky Blue */
}

#student-outcomes-table td.perspective:after {
  color: #8ac8ff; /* Color: Light Sky Blue */
}

#student-outcomes-table tbody td.practice {
  color: #2d7743; /* Color: Camarone */
}

#student-outcomes-table tbody td.practice .icon svg {
  fill: #a1cc3a; /* Color: Atlantis */
}

#student-outcomes-table tbody th.concept {
  background: #ca4b0c; /* Color: Tenne */
}

#student-outcomes-table tbody th.concept .icon svg {
  fill: #f9af60; /* Color: Rajah */
}

/* Light Theme */
.light-theme {
  background: #fff; /* Color: White */
  color: #142235; /* Color: Tangaroa */
}

.light-theme a {
  color: #ca4b0c; /* Color: Tenne */
}

.light-theme p a {
  font-weight: 400;
}

.light-theme svg,
.light-theme a svg,
.light-theme a:hover svg {
  fill: #97b5d0; /* Color: Polo Blue */
}

.light-theme h2 .preamble,
.light-theme h2 b span,
.light-theme h3 {
  color: #487aa3; /* Color: Steel Blue */
}

.light-theme .btn {
  border-color: #97b5d0; /* Color: Polo Blue */
  color: #487aa3; /* Color: Steel Blue */
}

.light-theme .btn:hover {
  border-color: #487aa3; /* Color: Steel Blue */
  color: #487aa3; /* Color: Steel Blue */
}

.light-theme .box {
  margin: 0;
  border: 1px solid #97b5d0; /* Color: Polo Blue */
  color: inherit;
}

.light-theme .box:hover {
  border-color: #97b5d0; /* Color: Polo Blue */
  color: #142235; /* Color: Tangaroa */
  text-decoration: none;
}

.light-theme h2:after,
.light-theme .box .box-content:before,
.light-theme .box .box-content:after {
  background: linear-gradient(
    to right,
    rgba(151, 181, 208, 0) 0%, /* Color: Polo Blue */
    rgba(151, 181, 208, 1) 50%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0) 100% /* Color: Polo Blue */
  );
  /*   W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/
}

.light-theme .box:before,
.light-theme .box:after {
  background: linear-gradient(
    to bottom,
    rgba(151, 181, 208, 0) 0%, /* Color: Polo Blue */
    rgba(151, 181, 208, 1) 50%, /* Color: Polo Blue */
    rgba(151, 181, 208, 0) 100% /* Color: Polo Blue */
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.light-theme section {
  margin-bottom: 0;
}
.light-theme section + section {
  margin-top: 0;
}

.light-theme section.compressed header .box {
  color: #142235; /* Color: Tangaroa */
}

.light-theme section header .box h3 {
  color: #487aa3; /* Color: Steel Blue */
}

article.light-theme {
  margin-bottom: 32px;
}

/* Blue theme */
.blue-theme,
.blue-theme tbody th {
  background: #17283e; /* Color: Midnight */
}

.blue-theme td,
.blue-theme td a,
.blue-theme td a:hover {
  background: #8ac8ff; /* Color: Light Sky Blue */
  color: #142235; /* Color: Tangaroa */
}

.light-theme .blue a,
.light-theme .blue a:hover,
.blue-theme section {
  color: #17283e; /* Color: Midnight */
}

.light-theme .blue h3,
.blue-theme section header h3 {
  color: #175494; /* Color: Endeavour */
}

.blue-theme h2 .preamble,
.blue-theme section.compressed a.box {
  color: #8ac8ff; /* Color: Light Sky Blue */
}

.light-theme .blue a svg,
.blue-theme a svg {
  fill: #8ac8ff !important; /* Color: Light Sky Blue */
}

.light-theme .blue .box:hover,
.blue-theme td.placeholder,
.blue-theme section .box:hover {
  border-color: #8ac8ff; /* Color: Light Sky Blue */
}

.light-theme .blue .box .box-content:before,
.light-theme .blue .box .box-content:after,
.blue-theme .box .box-content:before,
.blue-theme .box .box-content:after {
  background: linear-gradient(
    to right,
    rgba(138, 200, 255, 0) 0%, /* Color: Light Sky Blue */
    rgba(138, 200, 255, 1) 50%, /* Color: Light Sky Blue */
    rgba(138, 200, 255, 0) 100% /* Color: Light Sky Blue */
  );
}

.light-theme .blue .box:before,
.light-theme .blue .box:after,
.blue-theme .box:before,
.blue-theme .box:after {
  background: linear-gradient(
    to bottom,
    rgba(138, 200, 255, 0) 0%, /* Color: Light Sky Blue */
    rgba(138, 200, 255, 1) 50%, /* Color: Light Sky Blue */
    rgba(138, 200, 255, 0) 100% /* Color: Light Sky Blue */
  );
}

/* Orange Theme */
.orange-theme,
.orange-theme tbody th {
  background: #8a2C00; /* Color: Saddle Brown */
}

.orange-theme td,
.orange-theme td a,
.orange-theme td a:hover {
  background: #f9af60; /* Color: Rajah */
  color: #142235; /* Color: Tangaroa */
}

.light-theme .orange a,
.light-theme .orange a:hover,
.orange-theme section {
  color: #8a2C00; /* Color: Saddle Brown */
}

.light-theme .orange h3,
.orange-theme section header h3 {
  color: #ca4b0c; /* Color: Tenne */
}

.orange-theme h2 .preamble,
.orange-theme section.compressed a.box {
  color: #f9af60; /* Color: Rajah */
}

.light-theme .orange a svg,
.orange-theme a svg {
  fill: #f9af60 !important; /* Color: Rajah */
}

.light-theme .orange .box:hover,
.orange-theme td.placeholder,
.orange-theme section .box:hover {
  border-color: #f9af60; /* Color: Rajah */
}

.light-theme .orange .box .box-content:before,
.light-theme .orange .box .box-content:after,
.orange-theme .box .box-content:before,
.orange-theme .box .box-content:after {
  background: linear-gradient(
    to right,
    rgba(249, 175, 96, 0) 0%, /* Color: Rajah */
    rgba(249, 175, 96, 1) 50%, /* Color: Rajah */
    rgba(249, 175, 96, 0) 100% /* Color: Rajah */
  );
}

.light-theme .orange .box:before,
.light-theme .orange .box:after,
.orange-theme .box:before,
.orange-theme .box:after {
  background: linear-gradient(
    to bottom,
    rgba(249, 175, 96, 0) 0%, /* Color: Rajah */
    rgba(249, 175, 96, 1) 50%, /* Color: Rajah */
    rgba(249, 175, 96, 0) 100% /* Color: Rajah */
  );
}

/* Green Theme */
.green-theme,
.green-theme tbody th {
  background: #1b572f; /* Color: Crusoe */
}

.green-theme td,
.green-theme td a,
.green-theme td a:hover {
  background: #a1cc3a; /* Color: Atlantis */
  color: #142235; /* Color: Tangaroa */
}

.light-theme .green a,
.light-theme .green a:hover,
.green-theme section {
  color: #1b572f; /* Color: Crusoe */
}

.light-theme .green h3,
.green-theme section header h3 {
  color: #2d7743; /* Color: Camarone */
}

.green-theme h2 .preamble,
.green-theme section.compressed a.box {
  color: #a1cc3a; /* Color: Atlantis */
}

.light-theme .green a svg,
.green-theme a svg {
  fill: #a1cc3a !important; /* Color: Atlantis */
}

.light-theme .green .box:hover,
.green-theme td.placeholder,
.green-theme section .box:hover {
  border-color: #a1cc3a; /* Color: Atlantis */
}

.light-theme .green .box .box-content:before,
.light-theme .green .box .box-content:after,
.green-theme .box .box-content:before,
.green-theme .box .box-content:after {
  background: linear-gradient(
    to right,
    rgba(161, 204, 58, 0) 0%, /* Color: Atlantis */
    rgba(161, 204, 58, 1) 50%, /* Color: Atlantis */
    rgba(161, 204, 58, 0) 100% /* Color: Atlantis */
  );
}

.light-theme .green .box:before,
.light-theme .green .box:after,
.green-theme .box:before,
.green-theme .box:after {
  background: linear-gradient(
    to bottom,
    rgba(161, 204, 58, 0) 0%, /* Color: Atlantis */
    rgba(161, 204, 58, 1) 50%, /* Color: Atlantis */
    rgba(161, 204, 58, 0) 100% /* Color: Atlantis */
  );
}
